.home-page {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-page .overlap-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  width: 100vw;
}

.home-page .overlap {
  height: 400vw;
  width: 100vw;
}

.home-page .home-background {
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100vw;
}

.home-page .group-4 {
  height: 60vw;
  width: 100vw;
  overflow: hidden;
  animation: blink 2s ease-in-out infinite;
  /* z-index: 1; */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.home-page .text-wrapper-9 {
  color: #000;
  letter-spacing: 0;
  font-family: "Birthstone", Helvetica;
  font-size: 8vw;
  font-weight: 400;
  line-height: normal;
  margin-top: 10vw;
  margin-left: 17vw;
}

.home-page .text-wrapper-10 {
  color: #000;
  font-family: "Birthstone", Helvetica;
  font-size: 8vw;
  font-weight: 400;
  left: 10vw;
  letter-spacing: 0;
  line-height: normal;
  transform: translateY(-40%);
  margin-left: 45vw;
}


.home-page .search-flight {
  height: 5.5vw;
  left: 0;
  top: 0;
  width: 22vw;
  background: linear-gradient(
    to bottom,
    #306382,
    #4d8aa8
  );
  color: #ffffff;
  font-family: "Bree Serif", Helvetica;
  font-size: 1.8vw;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.2vw 0.5vw;
  border-radius: 5vw;
  opacity: 0.9;
  transform: translate(70%, -50%);
  transition: background-color 0.3s ease, opacity 0.3s ease,
    border-color 0.3s ease;
  margin-left: 25vw;
}

.home-page .search-flight:hover {
  background: linear-gradient(
    to bottom,
    #4d8aa8,
    #306382
  ); 
  opacity: 1;
  border-color: rgba(
    255,
    255,
    255,
    0.5
  ); 
  cursor: pointer;
}

.home-page .search-flight:active {
  background: linear-gradient(
    to bottom,
    #204e6c,
    #306382
  );
  opacity: 1;
  border-color: rgba(
    255,
    255,
    255,
    0.8
  );
}


.home-page .img {
  height: 60vw;
  top: 0;
  width: 100vw;
}

.home-page .text-wrapper {
  color: #ffffff;
  font-family: "Bree Serif", Helvetica;
  font-size: 5vw;
  font-weight: 400;
  /* left: 1601px; */
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  left: 0;
  /* top: 1561px; */
}

.home-page .group-desc {
  height: 60vw;
  width: 100vw;
  overflow: hidden;
  /* z-index: 1; */
}

.home-page .group-row {
  display: flex;
  flex-direction: row;
  margin: 2vw 3vw;
}

.home-page .group-5 {
  height: 33vw;
  width: 20vw;
  margin: 0 2vw;
  transition: transform 0.3s ease; 
}

.home-page .group-5:hover {
  transform: scale(1.1); /* Scale up the element when it's hovered */
  z-index: 1; /* Add a higher z-index to make the element appear on top of other elements */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a box shadow to create a pop-up effect */
}

.home-page .overlap-7 {
  background-color: #ffffff;
  height: 33vw;
  position: relative;
  width: 20vw;
  padding: 0 0.3vw;
}

.home-page .text-wrapper-11 {
  color: #000;
  font-family: "Bree Serif", Helvetica;
  font-size: 2vw;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  margin-top: 2vw;
}

.home-page .text-wrapper-12 {
  color: #000000;
  font-family: "Bree Serif", Helvetica;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  /* padding: 0 0.2vw; */
  /* width: 95%; */
}

.home-page .service-img {
  /* height: 30vw; */
  left: 0;
  object-fit: cover;
  top: 0;
}

.home-page .welcome-to-a-world {
  color: #000;
  font-family: "Bree Serif", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 1044px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1639px;
  width: 1656px;
}

.home-page .group {
  height: 3882px;
  left: 0;
  position: absolute;
  top: 3118px;
  width: 3592px;
}

.home-page .overlap-group {
  height: 3882px;
  position: relative;
}

.home-page .overlap-group-wrapper {
  height: 2827px;
  left: 7px;
  position: absolute;
  top: 8px;
  transform: rotate(179.71deg);
  width: 3173px;
}

.home-page .div {
  height: 2818px;
  left: -7px;
  position: relative;
  top: 5px;
  width: 3186px;
}


.home-page .group-wrapper {
  height: 2381px;
  left: 844px;
  position: absolute;
  top: 1500px;
  width: 2748px;
}

.home-page .div-wrapper {
  height: 2381px;
}










.home-page .group-6 {
  height: 565px;
  left: 2329px;
  position: absolute;
  top: 959px;
  width: 357px;
  transition: transform 0.3s ease;
}

.home-page .group-6:hover {
  transform: scale(1.1);
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.home-page .text-wrapper-13 {
  color: #000000;
  font-family: "Bree Serif", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 353px;
  width: 323px;
}

.home-page .group-7 {
  height: 565px;
  left: 1912px;
  position: absolute;
  top: 959px;
  width: 357px;
  transition: transform 0.3s ease;
}

.home-page .group-7:hover {
  transform: scale(1.1);
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.home-page .text-wrapper-14 {
  color: #000000;
  font-family: "Bree Serif", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 8px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 353px;
  width: 339px;
}

.home-page .group-8 {
  height: 565px;
  left: 1488px;
  position: absolute;
  top: 959px;
  width: 359px;
  transition: transform 0.3s ease;
}

.home-page .group-8:hover {
  transform: scale(1.1);
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.home-page .text-wrapper-15 {
  color: #000000;
  font-family: "Bree Serif", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 353px;
  width: 323px;
}

.home-page .text-wrapper-16 {
  color: #000000;
  font-family: "Bree Serif", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 53px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 281px;
}

.home-page .pexels-aleksey {
  height: 1734px;
  left: 912px;
  object-fit: cover;
  position: absolute;
  top: 2194px;
  width: 1920px;
}

.home-page .group-9 {
  height: 608px;
  left: 1125px;
  position: absolute;
  top: 2627px;
  width: 1613px;
}

.home-page .rectangle-wrapper {
  background-image: url(../../static/img/rectangle-96.svg);
  background-size: 100% 100%;
  height: 608px;
  left: 1028px;
  position: absolute;
  top: 0;
  width: 581px;
}


.home-page .overlap-8 {
  height: 311px;
  left: 0;
  position: absolute;
  top: 148px;
  width: 1010px;
}


.home-page .text-wrapper-17 {
  color: #000;
  font-family: "Bree Serif", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 33px;
  left: 436px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 25px;
}

.home-page .text-wrapper-18 {
  color: #000;
  font-family: "Bree Serif", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 75px;
  width: 974px;
}

.home-page .group-10 {
  height: 604px;
  left: 1015px;
  position: absolute;
  top: 3159px;
  width: 1625px;
}

.home-page .img-wrapper {
  background-image: url(../../static/img/rectangle-97.svg);
  background-size: 100% 100%;
  height: 604px;
  left: 0;
  position: absolute;
  top: 0;
  width: 586px;
}

.home-page .overlap-9 {
  height: 311px;
  left: 606px;
  position: absolute;
  top: 147px;
  width: 1015px;
}


.home-page .text-wrapper-19 {
  color: #000;
  font-family: "Bree Serif", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 33px;
  left: 378px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 22px;
}

.home-page .text-wrapper-20 {
  color: #000;
  font-family: "Bree Serif", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 73px;
  width: 945px;
}

.home-page .group-11 {
  height: 620px;
  left: 1116px;
  position: absolute;
  top: 3687px;
  width: 1622px;
}

.home-page .overlap-10 {
  background-image: url(../../static/img/rectangle-98.svg);
  background-size: 100% 100%;
  height: 620px;
  left: 1037px;
  position: absolute;
  top: 0;
  width: 581px;
}


.home-page .overlap-11 {
  height: 311px;
  left: 0;
  position: absolute;
  top: 151px;
  width: 1010px;
}

.home-page .text-wrapper-21 {
  color: #000;
  font-family: "Bree Serif", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 33px;
  left: 446px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 26px;
}

.home-page .text-wrapper-22 {
  color: #000;
  font-family: "Bree Serif", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 36px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 80px;
  width: 974px;
}

.home-page .group-12 {
  height: 616px;
  left: 1020px;
  position: absolute;
  top: 2096px;
  width: 1615px;
}

.home-page .overlap-12 {
  background-image: url(../../static/img/rectangle-95.svg);
  background-size: 100% 100%;
  height: 616px;
  left: 0;
  position: absolute;
  top: 0;
  width: 581px;
}


.home-page .overlap-13 {
  height: 311px;
  left: 601px;
  position: absolute;
  top: 148px;
  width: 1010px;
}

.home-page .text-wrapper-23 {
  color: #000;
  font-family: "Bree Serif", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 33px;
  left: 420px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 32px;
}

.home-page .text-wrapper-24 {
  color: #000;
  font-family: "Bree Serif", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 83px;
  width: 945px;
}

.home-page .group-13 {
  height: 1642px;
  left: 954px;
  position: absolute;
  top: 4344px;
  width: 1729px;
}

.home-page .overlap-14 {
  height: 1642px;
  position: relative;
}

.home-page .pexels-erik-mclean {
  height: 684px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1291px;
}

.home-page .pexels-rachel-claire {
  height: 1034px;
  left: 1127px;
  object-fit: cover;
  position: absolute;
  top: 167px;
  width: 602px;
}

.home-page .group-14 {
  height: 1323px;
  left: 82px;
  position: absolute;
  top: 319px;
  width: 955px;
}

.home-page .overlap-15 {
  height: 1323px;
  position: relative;
  width: 953px;
}


.home-page .discounts {
  -webkit-text-stroke: 1px #000000;
  color: #000;
  font-family: "Bree Serif", Helvetica;
  font-size: 48px;
  font-weight: 400;
  height: 65px;
  left: 158px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 49px;
  animation: pulse 2.5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.home-page .group-15 {
  height: 231px;
  left: 75px;
  position: absolute;
  top: 152px;
  width: 827px;
}

.home-page .overlap-group-5 {
  height: 231px;
  position: relative;
  width: 823px;
}

.home-page .rectangle-29 {
  background-color: #253333;
  height: 206px;
  left: 0;
  position: absolute;
  top: 25px;
  width: 823px;
}

.home-page .rectangle-30 {
  height: 213px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 245px;
}

.home-page .text-wrapper-25 {
  color: #000;
  font-family: "Bree Serif", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 33px;
  left: 346px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 46px;
}

.home-page .text-wrapper-26 {
  color: #000;
  font-family: "Bree Serif", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 116px;
  left: 271px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 79px;
  width: 530px;
}

.home-page .group-16 {
  height: 230px;
  left: 75px;
  position: absolute;
  top: 466px;
  width: 827px;
}

.home-page .overlap-16 {
  height: 230px;
  position: relative;
  width: 823px;
}

.home-page .rectangle-31 {
  background-color: #576058;
  height: 206px;
  left: 0;
  position: absolute;
  top: 24px;
  width: 823px;
}

.home-page .rectangle-32 {
  height: 213px;
  left: 570px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 245px;
}

.home-page .text-wrapper-27 {
  color: #000;
  font-family: "Bree Serif", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 33px;
  left: 227px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 44px;
}

.home-page .text-wrapper-28 {
  color: #000;
  font-family: "Bree Serif", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 116px;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 80px;
  width: 528px;
}

.home-page .group-17 {
  height: 227px;
  left: 75px;
  position: absolute;
  top: 822px;
  width: 827px;
}

.home-page .overlap-17 {
  height: 227px;
  position: relative;
  width: 823px;
}

.home-page .rectangle-33 {
  background-color: #4d4b5a;
  height: 206px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 823px;
}

.home-page .rectangle-34 {
  height: 213px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 245px;
}

.home-page .text-wrapper-29 {
  color: #000;
  font-family: "Bree Serif", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 33px;
  left: 346px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 38px;
}

.home-page .text-wrapper-30 {
  color: #000;
  font-family: "Bree Serif", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 116px;
  left: 274px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 82px;
  width: 528px;
}

.home-page .group-18 {
  height: 201px;
  left: 176px;
  position: absolute;
  top: 1072px;
  width: 646px;
}

.home-page .register-now {
  height: 58px;
  left: 204px;
  position: absolute;
  top: 78px;
  width: 237px;
  background: linear-gradient(
    to bottom,
    #121528,
    #1c1e3a
  ); /* Add a gradient background color */
  border-radius: 47px;
  color: #000;
  font-family: "Bree Serif", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.2); /* Add a sharper outline to the button in idle state */
  opacity: 0.7; /* Add opacity to the button in idle state */
  transition: background-color 0.3s ease, opacity 0.3s ease,
    border-color 0.3s ease; /* Add a transition to the background-color, opacity, and border-color properties */
}

.home-page .register-now:hover {
  background: linear-gradient(
    to bottom,
    #1c1e3a,
    #121528
  ); /* Change the gradient background color when the button is hovered */
  opacity: 1; /* Change the opacity when the button is hovered */
  border-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Change the border color when the button is hovered */
  cursor: pointer; /* Change the cursor to a pointer when the button is hovered */
}

.home-page .register-now:active {
  background: linear-gradient(
    to bottom,
    #0d0e1f,
    #121528
  ); /* Change the gradient background color when the button is clicked */
  opacity: 1; /* Change the opacity when the button is clicked */
  border-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Change the border color when the button is clicked */
}

.home-page .login {
  height: 35px;
  left: 257px;
  position: absolute;
  top: 187px;
  width: 128px;
  background: linear-gradient(
    to bottom,
    rgba(50, 50, 50, 0.5),
    rgba(76, 76, 76, 0.5)
  ); /* Add a gradient background color with opacity */
  border-radius: 47px;
  color: #000;
  font-family: "Bree Serif", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.2); /* Add a sharper outline to the button in idle state */
  opacity: 0.7; /* Add opacity to the button in idle state */
  transition: background-color 0.3s ease, opacity 0.3s ease,
    border-color 0.3s ease; /* Add a transition to the background-color, opacity, and border-color properties */
}

.home-page .login:hover {
  background: linear-gradient(
    to bottom,
    rgba(76, 76, 76, 0.8),
    rgba(50, 50, 50, 0.8)
  ); /* Change the gradient background color with opacity when the button is hovered */
  opacity: 1; /* Change the opacity when the button is hovered */
  border-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Change the border color when the button is hovered */
  cursor: pointer; /* Change the cursor to a pointer when the button is hovered */
}

.home-page .login:active {
  background: linear-gradient(
    to bottom,
    rgba(26, 26, 26, 0.8),
    rgba(50, 50, 50, 0.8)
  ); /* Change the gradient background color with opacity when the button is clicked */
  opacity: 1; /* Change the opacity when the button is clicked */
  border-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Change the border color when the button is clicked */
}

.home-page .register-today-get {
  color: #000000;
  font-family: "Bree Serif", Helvetica;
  font-size: 32px;
  font-weight: 400;
  height: 43px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.home-page .text-wrapper-33 {
  color: #000000;
  font-family: "Bree Serif", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 27px;
  left: 213px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 128px;
}

.home-page .text-wrapper-34 {
  color: #000000;
  font-family: "Bree Serif", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 282px;
}

.home-page .text-wrapper-35 {
  color: #000000;
  font-family: "Bree Serif", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 44px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 282px;
}
