.footerDiv {
    display: fixed;
    bottom: 0;
    left: 0;
    height: 40vh;
    width: 105vw;
    background: linear-gradient(to bottom, #aad4ff 0%,#bfdefd 44%,#a2d1ff 100%);
}


/* @media only screen and (max-width: 1024px) {
} */