.footer-box {
  position: relative;
}

.footer-dev {
  width: 100%;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

.contact,
.aboutus,
.uom {
  position: absolute;
  color: #b3b3b3;
  font-family: "Bree Serif-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.contact {
  top: 55%;
  transform: translateY(-50%);
}

.aboutus {
  top: 68%;
  transform: translateY(-50%);
}

.uom {
  bottom: 4%;
  font-size: 13px;
  transform: translateY(50%);
  order: 3;
}

.icon {
  align-items: center;
  display: flex;
  gap: 30px;
  height: 20px;
  position: absolute;
  width: 109px;
  order: 2;
  top: 78%;
}

.twitter {
  height: 14px;
  position: relative;
  width: 18px;
}

.linked-in {
  height: 16px;
  position: relative;
  width: 16px;
}

.fb {
  height: 15px;
  position: relative;
  width: 11px;
}

@media only screen and (max-width: 768px) {
  .contact,
  .aboutus,
  .uom {
    font-size: 16px;
  }

  .icon {
    top: 70%;
  }
}

@media only screen and (max-width: 480px) {
  .contact,
  .aboutus,
  .uom {
    font-size: 14px;
  }

  .icon {
    top: 60%;
  }
}
