
.headerImg {
    width: 100vw;
    top: 0;
    z-index: -1;
    /* height: 100vh; */
}

.logo {
	position: absolute;
	top: 0;
	left: 1%;
    transform: translate(0, -6%);
    z-index: 2;
    /* font-size: 1.5em; */
}

.logoImg {
    width: 11.5em;
    height: 7.5em;
    /* margin-right: 0.5em; */
}

.profile-btns {
    font-size: 1em;
    position: absolute;
    top: 3%;
    right: 3%;
    z-index: 2;
}

.profile-btn {
    margin-left: 1em;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.3s;
    border: none;
    border-radius: 5em;
    padding: 0.3em;
    padding-left: 1.2em;
    padding-right: 1.2em;
}

.navBarContainer {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
    /* align-items: center; */
}

@media only screen and (max-width: 1024px) {
    .navBarContainer {
        width: 100%;
    }
    .logo {
        position: absolute;
        top: 0;
        width: 100%;
        color: #000;
        font-weight: bold;
    }
    .headerImg {
        transform: translate(0, 0);
    }
    .profileIcon {
        color: black;
    }

    .profile-btns {
        font-size: 0.7em;
        margin-left: 0.2em;
        padding: 0.2em;
    }
}

