.section-title {
  z-index: 0;
  color: azure;
  font-size: 2.3vw;
  /* margin-bottom: 0.3vw; */
  font-family: "Bruno Ace", sans-serif;
}

.fnt-txt {
  z-index: 0;
  color: azure;
  font-size: 1.5vw;
  margin-top: 1.5vw;
  font-family: "Bruno Ace", sans-serif;
}

.profile-cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 1vw;
}

.data-field-l {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 55vw;
  height: 20vw;
  margin: 8vw 5vw;
  padding: 2vw 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.section-title-r {
  z-index: 0;
  color: azure;
  font-size: 2.1vw;
  /* margin-bottom: 0.3vw; */
  font-family: "Bruno Ace", sans-serif;
}

.data-field-r {
  width: 35vw;
  margin: 0vw 7vw 0 1vw;
  padding: 2vw 0;
  /* margin: 0 15% 0 15%; */
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.deo-ops {
  width: 35vw;
  height: 100%;
  /* padding: 0 3vw; */
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  vertical-align: middle;
  align-items: center;
  opacity: 1;
}

.op-button {
  border-radius: 3vw;
  width: 25vw;
  /* height: 8%; */
  font-size: 1.4vw;
  align-items: center;
  background-color: #ffffff;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
  /* z-index: 0; */
  margin: 1vw 0 0.2vw 0;

  transition: all 0.3s ease-in-out;
}

.op-button:hover {
  background-color: #005ef5; /* Change background color to blue on hover */
  color: white;
  border: none;
  transform: scale(1.1);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}
