.rmv-bk {
  font-family: 'lexend';
  background : transparent;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  width: 100%;
  
  /* margin: 0 0 0 1.2em; */
  padding: 0.5em;
  font-size: 0.85em;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  border-radius: 5px;
  font-weight: 400;
  &:hover {
    background-color: #d32f2f;
  }
}

.tck-details {
  margin-bottom: 1.5%;
}

.btn-set-1 {
  font-family: 'lexend';
  width: 100%;
  display: flex;
  justify-content:flex-end;
  gap: 2%;
  /* margin: 0% 10% 2% 0; */
  padding: 0% 5% 2% 0;
}

span {
  font-family: 'lexend';
}