.center-box{
    width: 75%;
    height: 100%;
    top: 0;
    position: relative;
}
.glass-background{
    width: 100%;
    height: 100%;
    background-color: #20141a;
    opacity: 0.7;
    z-index: 1;
    position: absolute;
}
.main-container{
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
}
.front-content{
    color: white;
    z-index: 0;
    font-family: "Bruno Ace", sans-serif;
}
.front-text{
    z-index: 1;
}
.title{
    /* font-family: "Bruno Ace"; */
    /* font-family: "Lexend"; */
    font-size: 2em;
    padding: 0.5em 0 0.5em 0;
}
.drop-btn-container{
    /* font-family: "Bruno Ace"; */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create 3 equal-width columns */
    gap: 1%; /* Add some spacing between columns */
}
.drop-text-container{
    font-family: "Lexend";
}
.drop-btn{
    /* font-family: "Bruno Ace"; */
    justify-content: left;
    text-align: left;
}
.column-left{
    margin: 1% 1% 1% 10%;
}
.column-right{
    margin: 1% 10% 1% 1%;
}
.date-btn{
    /* font-family: "Bruno Ace"; */
    font-family: "Lexend";
    margin: 1% 8% 1% 8%;
}
.date-input-flightSearch{
    /* font-family: "Bruno Ace"; */
    font-family: "Lexend";
    border: none;
}
.search-btn{
    /* font-family: "Bruno Ace"; */
    font-family: "Lexend";
    margin: 1% 15% 1% 15%;
    width: auto;
}
.left-drop-btn{
    margin: 0 0 0 4%;
}
.right-drop-btn{
    margin: 0 4% 0 0%;
}
.dropdown {
    /* font-family: "Bruno Ace"; */
    font-family: "Lexend";
    position: relative;
    display: inline-block;
    opacity: 1;
    height: 100%;
    width: 100%;
}
.selection-area-dropbtn{
    height: 100%;
    width: 100%;
    padding: 0.6em 0 0.6em 0;
    text-align: center;
    border: none;
    border-radius: 0.8em;
}
.dropbtn {
    padding: 0.5em 0 0.5em 0;
    border: none;
    cursor: pointer;
    text-align: center;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    align-items: center;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    width: 100%;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #000000;
    text-align: left;
    height: 100%;
    width: 100%;
}
.dropdown-content a:hover {
    background-color: #ffffff;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.left-icon{
    display: flex;
    justify-content: left;
    height: 80%;
    width: 80%;
}
.left-icon-img{
    padding-right: 1em;
}
.drop-text{
    display: flex;
    text-align: left;
}
.scroll-div{
    display: flex;
    justify-content: right;
}
.table-container {
    max-height: 25vw;
    min-height: 16vw;
    width: 94%;
    margin: 2% 3% 2% 3%;
    overflow-y: scroll;
    border-radius: 1em;
    border: 2px solid #ccc;
    background-color: transparent;
    align-items: left;
}
.no-passengers{
    max-height: 24vw;
    min-height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lexend";
}
table {
    width: 92%;
    padding: 0;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}
thead th {
    /* font-family: "Bruno Ace"; */
    font-family: "Lexend";
    background-color: transparent;
    text-align: center;
    padding: 1%;
}
tbody tr:hover {
    background-color: #005EF5;
    color: white;
    opacity: 90%;
    border: none;
    cursor: pointer;
}
tbody tr.selected {
    background-color: #007bff;
    color: #fff;
}
td {
    /* font-family: "Bruno Ace"; */
    font-family: "Lexend";
    font-size: 1.1em;
    padding: 10px 0;
}
/* .duration {
    padding: 0 0;
    margin: 0;
} */
.table-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.table-container::-webkit-scrollbar-thumb {
    background-color: #007bff; 
    border-radius: 8px; 
    width: 0;
    height: 0;
}
.table-container::-webkit-scrollbar-track:hover {
    background-color: transparent;
    width: 0;
    height: 0;
}
.table-container::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3; 
    width: 0;
    height: 0;
}
.lower-btns-container{
    /* display: flex; */
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    /* gap: 2%; */
}
.btn-set{
    display: flex;
    justify-content: right;
    gap: 2%;
    width: 100%;
    margin: 0% 5% 2% 0;
} 
.selected-class-txt{
    font-family: "Lexend";
    margin-left: 3em;
    width: 10em;
    text-align: left;
    font-size: 1em;
    color: #ffffff;
}
.ticket-data{
    color: #ffffff;
}
.tck-data{
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.radio-btn {
    width: 1.3vw;
    height: 1.3vw;
    justify-self:center;
    align-self: center;
    margin-top: 3%;
}
.class-btn{
    width: auto;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 25px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}
.class-btn:hover {
    background-color: #070d6b; /* Change background color to blue on hover */
    color: rgb(255, 255, 255);
    opacity: 90%;
    border: none;
}
.class-btn:active {
    background-color: #ffffff; 
    color: #000000;
    border: none;
}

