.background-image {
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.user-top-container {
  width: 100%;
}

.registered-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
  margin-bottom: 0;
  height: 48vw;
}

.profileDetailsWrapper {
  background: rgb(0, 0, 0, 0.5);
  color: #fff;
  width: 90%;
  margin: 5%;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  padding-bottom: 1em;
}

.user-header {
  font-family: "Bruno Ace", sans-serif;
  margin-top: 20px;
}

.scrollable-body {
  height: 375px;
  overflow: auto;
  width: 100%;
}

.scrollable-body::-webkit-scrollbar {
  width: 0;
}

.profileDetailsBox {
  /* background-color: #333; */
  color: #fff;
  padding: 1em;
  border-radius: 0.5em;
  margin-top: 1em;
}

.profileDetailsBox div {
  display: flex;
  margin-bottom: 0.5em;
}

.profileDetailsBox label {
  font-weight: bold;
  margin-right: 2.5em;
  width: 175px;
  font-family: "Bruno Ace", sans-serif;
}

.profileDetailsBox span {
  flex-grow: 1;
  font-family: "Bruno Ace", sans-serif;
}

.user-buttonWrapper {
  display: flex;
  margin-top: 5%;
  gap: 2em;
  margin-bottom: 2%;
}

.user-button {
  font-family: "Lexend", sans-serif;
  height: 45px;
  width: 250px;
  border: none;
  border-radius: 0.5em;
  background: rgb(255, 255, 255, 0.2);
  transition: all 0.3s ease-in-out;
  position: relative;
}

.user-button:hover:not(:disabled) {
  background-color: blue;
  color: white;
  transform: translateY(-5px);
}

.user-button:disabled {
  background: rgb(255, 255, 255, 0.2);
}

.not-clicked {
  color: white;
  font-family: "Lexend", sans-serif;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.user-table {
  margin-top: 2em;
  margin-left: 73px;
  width: 90%;
  /* max-width: 800px; */
  border-collapse: collapse;
}

.user-th,
.user-td {
  padding: 10px;
  text-align: center;
  font-family: "Montserrat";
  font-size: 18px;
  /* border: 1px solid #ddd; */
}

.user-th {
  color: #fff;
  font-weight: 600;
  border-bottom: 1px solid #fff;
}

.user-td {
  color: #fff;
  font-weight: 400;
}

.user-td-psg {
  padding: 10px;
  padding-right: 0;
  text-align: left;
  font-family: "Montserrat";
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.radio {
  margin-top: 10px;
  width: 20px; /* Increase the width to enlarge the radio button */
  height: 20px; /* Increase the height to enlarge the radio button */
}

.loading-text {
  margin-top: 150px;
  color: #fff;
  font-family: "Lexend", sans-serif;
}

.cancel-btn {
  background: rgb(255, 255, 255, 0.2);
  color: #db2222;
  font-family: "Lexend", sans-serif;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
  border: none;
  width: 100px;
  height: 50px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.cancel-btn:hover {
  background-color: #db2222;
  color: white;
}