.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  font-size: 14px;
  color: #262626;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  font-size: 40px;
  font-weight: 200;
  font-style: italic;
  color: #262626;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-heading {
  color: rgb(9, 1, 1);
  font-size: 26px;
}

.underline {
  width: 20%;
  height: 4px;
  background-color: #754aeb;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg-c-light {
  background-color: #e9e8e85c;
}

.bg-c-info {
  background-color: #2abfed60;
}
