.formWrapper {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 2em;
  padding-bottom: 1em;
}

/*
    opacity: 0.8;
    background: #1a354e;
  */

.authForm {
  margin-top: 0;
  margin-bottom: 0;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  width: 50vw;
  /* transform: translateX(30%); */
  background-color: rgba(0, 0, 0, 0.5);
  /* border-radius: 2.5em; */
  box-shadow: 0 0 0.4em 0 #000;
}

.authForm-admin {
  margin-top: 0;
  margin-bottom: 0;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  width: 50vw;
  /* transform: translateX(30%); */
  opacity: 0.8;
  background: #1a354e;
  /* border-radius: 2.5em; */
  box-shadow: 0 0 0.4em 0 #000;
}

.header {
  font-size: 2.2em;
  font-family: "Bree Serif";
  text-align: center;
  margin-bottom: 1em;
  color: #fff;
}

.registerFormWrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Add this line to align items horizontally center */
  align-items: center;
}

.register-authForm::-webkit-scrollbar {
  width: 0;
}

.register-authForm {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* transform: translateX(30%); */
  background-color: rgba(0, 0, 0, 0.5);
  /* border-radius: 2.5em; */
  box-shadow: 0 0 0.4em 0 #000;
}

.register-authForm-admin {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* transform: translateX(30%); */
  opacity: 0.8;
  background: #1a354e;
  /* border-radius: 2.5em; */
  box-shadow: 0 0 0.4em 0 #000;
}

.reg-formField {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.2em;
}

.field-box {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5em;
}

.formField {
  margin-bottom: 1em;
}

.field-label {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  text-align: center;
  width: 25%;
  color: #fff;
}

.auth-select {
  width: 65%;
  font-family: "Lexend";
  color: #fff;
  background: rgb(255, 255, 255, 0.2);
  position: relative;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 0.5em; /* Add this line to add round borders */
  outline: none;
  height: 3em;
  margin: auto;
  padding-left: 1em;
}

.auth-option {
  color: #000;
}

.shortInput {
  font-family: "Lexend";
  background: rgb(255, 255, 255, 0.2);
  color: #fff;
  position: relative;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 0.5em;
  outline: none;
  height: 3em;
  width: 65%;
  margin: auto;
  padding: 1em;
}
.shortInput::placeholder {
  color: white;
}

.shortInput:focus {
  background: rgb(227, 246, 255, 0.5);
  color: #000;
  box-shadow: 0 0 0.2em 0 #000;
  transform: scale(1.03);
  transition: all 0.2s ease-in-out;
}

.errorText {
  color: #b10000;
  font-weight: 500;
  width: 50%;
  margin: auto;
  margin-top: 0.2em;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5em;
}

.button-container button:first-child {
  margin-right: 1em;
}

.button-container button:last-child {
  margin-left: 1em; /* Add this line to align the second button with the input fields */
}

.portal-button-container {
  display: flex;
  align-items: center;
  margin-top: 1.5em;
  margin-left: 70%;
}

.portal-button {
  position: relative;
  background: rgb(255, 255, 255, 0.2);
  border: none;
  margin: auto;
  cursor: pointer;
  font-family: "Lexend";
  font-size: 1.5em;
  border-radius: 7px;
  color: #fff;
  width: 620px;
  height: 60px;
}

.portal-button:hover {
  background: #1d5ade;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.portal-back-btn {
  position: relative;
  background: rgb(255, 255, 255, 0.2);
  border: none;
  cursor: pointer;
  font-family: "Lexend";
  font-size: 1.1em;
  border-radius: 7px;
  color: #fff;
  width: 152px;
  height: 44px;
}

.portal-back-btn:hover {
  background: #1d5ade;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.submitBtn {
  position: relative;
  /* background: #3474ff; */
  background: rgb(255, 255, 255, 0.2);
  border: none;
  /* border-radius: 2em; */
  /* height: 2.7em;
  width: 20%; */
  cursor: pointer;
  font-family: "Lexend";
  font-size: 1.1em;
  border-radius: 7px;
  color: #fff;
  width: 152px;
  height: 44px;
}

.submitBtn:hover {
  background: #1d5ade;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.submitBtn:disabled {
  background: #b1b1b1;
  opacity: 0.5;
  pointer-events: none;
}

.swap {
  font-family: "Lexend";
  font-size: 1.2em;
  font-weight: 500;
  text-shadow: #fff 0.1em 0.1em 0.2em;
  margin-top: 1em;
  color: #000;
  gap: 10px;
}

.swapBtn {
  position: relative;
  background: rgb(141, 100, 255, 0.6);
  color: #fff;
  border: none;
  border-radius: 1em;
  padding: 0.2em 1em;
  margin: auto;
  margin-left: 0.1em;
  cursor: pointer;
  font-size: 1em;
  width: 162px;
  height: 40px;
}

.swapBtn:hover {
  background: #6b3dff;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 1024px) {
  .authForm {
    width: 80%;
    transform: translateX(10%);
    border-radius: 2em;
  }

  .header {
    font-size: 1.6em;
  }

  .shortInput {
    width: 80%;
    padding: 0.6em 1.4em;
  }

  .submitBtn {
    margin-top: 0.5em;
    width: 45%;
  }

  .swap {
    margin-top: 0.5em;
    font-size: 1.1em;
  }
}
