.outer-box {
  margin-top: 30px;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(26, 53, 78, 0.5);
}

.inner-box {
  width: 90%;
  height: 100%;
  background: rgb(217, 217, 217, 0.5);
  margin-bottom: 10px;
}

table {
  width: 90%;
  margin-left: 80px;
  /* max-width: 800px; */
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
  font-family: "Montserrat";
  font-size: 18px;
  /* border: 1px solid #ddd; */
}

th {
  color: #fff;
  font-weight: 500;
  border-bottom: solid 2px #fff;
}

.view-by-date-dest {
  color: #fff;
  opacity: 1;
  font-family: "Bruno Ace", Helvetica;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 20px;
}

.selection-box {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.type-selection {
  margin-left: 53px;
  margin-right: 112px;
  width: 230px;
  height: 51px;
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
  border-radius: 42.5px;
  background-color: #fff;
  margin-bottom: 20px;
}

.type-option {
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
}

.date-selection-input {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 490px;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.date-selection input {
  margin: 0;
  position: absolute;
  top: 2px;
  left: 10px;
}

.to-input-box {
  margin: 0;
  font-family: "Montserrat";
  color: #fff;
  font-weight: 500;
  position: absolute;
  top: 13px;
  left: -24px;
}

.from-input-box {
  margin: 0;
  font-family: "Montserrat";
  color: #fff;
  font-weight: 500;
  position: absolute;
  top: 12px;
  left: -53px;
}

.buttons-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 20px;
}

.buttons {
  width: 178px;
  height: 41px;
  font-size: 20px;
  text-align: center;
  border-radius: 42.5px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  transition: all 0.3s ease-in-out;
}

.buttons:hover {
  background-color: #0047ff;
  color: #fff;
  transform: scale(1.1);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}
