.outer-box {
  margin-top: 30px;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(26, 53, 78, 0.5);
}

.inner-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  background: rgb(217, 217, 217, 0.5);
  margin-bottom: 10px;
}

table {
  width: 90%;
  /* max-width: 800px; */
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
  font-family: "Montserrat";
  font-size: 18px;
  /* border: 1px solid #ddd; */
}

th {
  color: #fff;
  font-weight: 500;
  border-bottom: solid 2px #fff;
}

.view-revenue {
  color: #fff;
  opacity: 1;
  font-family: "Bruno Ace", Helvetica;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 20px;
}

.model-selection {
  width: 320px;
  height: 60px;
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
  border-radius: 42.5px;
  background-color: #fff;
}

.model-option {
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
}

.buttons-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 20px;
}

.buttons {
  width: 178px;
  height: 41px;
  font-size: 20px;
  text-align: center;
  border-radius: 42.5px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  transition: all 0.3s ease-in-out;
}

.buttons:hover {
  background-color: #0047ff;
  color: #fff;
  transform: scale(1.1);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}

.loading-text {
  margin-top: 150px;
  color: #fff;
  font-family: "Lexend", Helvetica;
}

.chart-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.pie-chart {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 0 30%;
  background-color: rgba(0, 0, 0, 0.25);
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.legend > div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 70%;
  margin-right: 10px;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
